form{
    background-color: #fffda9;
    padding: 20px;
    width: 500px;
}
h1{
    background-color: #d4fdd6;
    color: blue;
}
.name{
    margin-right: 30px;
}
form input{
    margin: 8px;
}
body{
    margin-left: 10px;
}