.ab{
    text-align: center;
    padding: 20px;
    width: 700px;
}
.left{
    margin-left: 50px;
    margin-bottom: -70px;
    color: blue;
}
.right{
    margin-left: 500px;
    margin-bottom: 50px;
    color: blue;
}
h1{
    margin-left: 210px;
}
